Repository TempleDAO/temple, changes with the labels that .github/labeler.yml gives for each.
All labels: dapp, protocol, backend

chore: update subgraph to dedicated metrics endpoint (#91)
  apps/dapp/src/hooks/use-refreshable-price-metrics.tsx
  apps/dapp/src/utils/subgraph.ts
Labels: dapp

Fix typo
  CONTRIBUTING.md
Labels: none

lazy load pages at router level
  apps/dapp/src/components/DApp/DApp.tsx
  apps/dapp/src/main.tsx
Labels: dapp

Fix renaming analytics-api to api
  .gitignore
  apps/api/.env.template
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/services/templeStatsService.spec.ts
  apps/api/services/templeStatsService.ts
  apps/api/yarn.lock
Labels: backend

Add enpdoint to get the temple total supply
  apps/analytics-api/pages/api/temple/totalsupply.ts
Labels: none

remove package-lock.json
  apps/api/package-lock.json
Labels: backend

Add the totalSupply endpoint under renamed path
  apps/api/pages/api/temple/totalsupply.ts
Labels: backend

gitignore package-lock.json
  apps/api/.gitignore
Labels: backend

remove DISCORD from .env and update subgraph url
  apps/api/.env-dev
  apps/api/.env.template
Labels: backend

Apply suggestions from code review
  CONTRIBUTING.md
Labels: none

optimize icon pngs
  apps/dapp/src/assets/icons/android-chrome-192x192.png
  apps/dapp/src/assets/icons/android-chrome-512x512.png
  apps/dapp/src/assets/icons/apple-touch-icon.png
  apps/dapp/src/assets/icons/favicon-16x16.png
  apps/dapp/src/assets/icons/favicon-32x32.png
  apps/dapp/src/assets/icons/metamask-icon.png
  apps/dapp/src/assets/icons/mstile-144x144.png
  apps/dapp/src/assets/icons/mstile-150x150.png
  apps/dapp/src/assets/icons/mstile-310x150.png
  apps/dapp/src/assets/icons/mstile-310x310.png
  apps/dapp/src/assets/icons/mstile-70x70.png
Labels: dapp

optimize jpegs
  apps/dapp/src/assets/images/EnterTheGates.jpg
  apps/dapp/src/assets/images/PortalRoom.jpg
  apps/dapp/src/assets/images/altar-enter-bg.jpg
  apps/dapp/src/assets/images/altar-exit.jpg
  apps/dapp/src/assets/images/devotion_bg.jpg
  apps/dapp/src/assets/images/foyer.jpg
Labels: dapp

chore: Removed unused devotion contracts + test scaffolding
  apps/protocol/contracts/LockedOGTemple.sol
  apps/protocol/contracts/devotion/Devotion.sol
  apps/protocol/contracts/devotion/RedeemFaithManager.sol
  apps/protocol/scripts/deploys/helpers.ts
  apps/protocol/test/devotion/devotion-tests.ts
  apps/protocol/test/devotion/redeem-faith.ts
  apps/protocol/test/helpers.ts
Labels: protocol

feat: Added gasless permit so we build services atop the standard lock contract
  apps/protocol/contracts/devotion/LockedTemple.sol
Labels: protocol

feat: Tests for LockedTemple including faith calc
  apps/protocol/contracts/devotion/LockedTemple.sol
  apps/protocol/test/devotion/locked-temple-tests.ts
Labels: protocol

chore: factored out faith rewards for temple lock into seperate unit test
  apps/protocol/test/devotion/locked-temple-tests.ts
Labels: protocol

fixup: type error
  apps/protocol/test/devotion/redeem-faith.ts
Labels: protocol

chore: Updated local deploy
  apps/protocol/scripts/local-dapp-dev/deploy.ts
Labels: protocol

chore: remove unused imports/variables
  apps/protocol/test/devotion/locked-temple-tests.ts
Labels: protocol

.github/labeler.yml:

dapp:
  - apps/dapp/**/*
protocol:
  - apps/protocol/**/*
backend:
  - apps/api/**/*
