Repository TempleDAO/temple, pull requests merged in 2022-11, with the labels that each got.

#618 Update alchemy+infura keys
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
Labels: dapp

#619 Stage->Main
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  protocol/contracts/governance/ElderElection.sol
  protocol/contracts/governance/Templar.sol
  protocol/contracts/governance/TemplarMetadata.sol
  protocol/hardhat.config.ts
  protocol/scripts/deploys/governance/common/01-templar-nft.ts
  protocol/scripts/deploys/governance/common/02-elder-election.ts
  protocol/scripts/deploys/governance/common/03-templar-metadata.ts
  protocol/scripts/deploys/governance/common/100-transfer-ownership.ts
  protocol/scripts/deploys/governance/contract-addresses.ts
  protocol/scripts/deploys/governance/gnosis
  protocol/scripts/deploys/governance/gnosisChiado
  protocol/scripts/deploys/governance/goerli
  protocol/scripts/deploys/governance/localhost/999-localhost-fork-test.ts
  protocol/scripts/deploys/governance/localhost/deploy-localhost-fork.sh
  protocol/scripts/deploys/helpers.ts
  protocol/slither.db.json
  protocol/test/elder-election-tests.ts
  protocol/test/templar-metadata-tests.ts
  protocol/test/templar-nft-tests.ts
Labels: dapp

#625 feat: wallet terms of service signing
  apps/dapp/src/components/Layouts/CoreLayout/ConnectorPopover.tsx
Labels: dapp, preview-deploy

#626 Stage->Main
  apps/dapp/src/components/Layouts/CoreLayout/ConnectorPopover.tsx
Labels: dapp

#621 Ready for epoch7 payments
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/27-epoch7-payments.ts
Labels: dapp, preview-deploy

#634 Remove vAPY from vault page
  apps/dapp/src/components/Pages/Core/VaultPages/Summary.tsx
Labels: dapp, preview-deploy

#635 Stage->Main
  apps/dapp/src/components/Pages/Core/VaultPages/Summary.tsx
Labels: dapp

#641 Feat/epoch8
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/15-deploy-team-payments.ts
  protocol/scripts/deploys/mainnet/18-epoch2-payments.ts
  protocol/scripts/deploys/mainnet/22-epoch4-payments.ts
  protocol/scripts/deploys/mainnet/23-epoch5-payments.ts
  protocol/scripts/deploys/mainnet/26-epoch6-payments.ts
  protocol/scripts/deploys/mainnet/27-epoch7-payments.ts
  protocol/scripts/deploys/mainnet/team-payments/deploy.ts
  protocol/scripts/deploys/mainnet/team-payments/json/epoch1.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch2.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch4.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch5.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch6.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch7.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch8.json
Labels: dapp

#643 Stage->Main
  apps/core-subgraph/config/goerli.json
  apps/core-subgraph/config/local.json
  apps/core-subgraph/config/mainnet.json
  apps/core-subgraph/config/rinkeby.json
  apps/core-subgraph/package.json
  apps/core-subgraph/schema.graphql
  apps/core-subgraph/src/entities/earlyWithdraw.ts
  apps/core-subgraph/src/entities/metric.ts
  apps/core-subgraph/src/entities/vault.ts
  apps/core-subgraph/src/entities/vaultUserBalance.ts
  apps/core-subgraph/src/entities/withdraw.ts
  apps/core-subgraph/subgraph.template.yaml
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  apps/governance-subgraph/.gitattributes
  apps/governance-subgraph/.gitignore
  apps/governance-subgraph/LICENSE
  apps/governance-subgraph/README.md
  apps/governance-subgraph/abis/ElderElection.json
  apps/governance-subgraph/abis/Templar.json
  apps/governance-subgraph/abis/TemplarMetadata.json
  apps/governance-subgraph/config/mainnet.json
  apps/governance-subgraph/config/testnet.json
  apps/governance-subgraph/package.json
  apps/governance-subgraph/schema.graphql
  apps/governance-subgraph/src/entities/endorsement.ts
  apps/governance-subgraph/src/entities/metric.ts
  apps/governance-subgraph/src/entities/nomination.ts
  apps/governance-subgraph/src/entities/templar.ts
  apps/governance-subgraph/src/entities/voter.ts
  apps/governance-subgraph/src/mappings/elderElection.ts
  apps/governance-subgraph/src/mappings/templarMetadata.ts
  apps/governance-subgraph/src/mappings/templarNft.ts
  apps/governance-subgraph/src/utils/constants.ts
  apps/governance-subgraph/src/utils/dates.ts
  apps/governance-subgraph/src/utils/decimals.ts
  apps/governance-subgraph/subgraph.template.yaml
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/15-deploy-team-payments.ts
  protocol/scripts/deploys/mainnet/18-epoch2-payments.ts
  protocol/scripts/deploys/mainnet/22-epoch4-payments.ts
  protocol/scripts/deploys/mainnet/23-epoch5-payments.ts
  protocol/scripts/deploys/mainnet/26-epoch6-payments.ts
  protocol/scripts/deploys/mainnet/27-epoch7-payments.ts
  protocol/scripts/deploys/mainnet/team-payments/deploy.ts
  protocol/scripts/deploys/mainnet/team-payments/json/epoch1.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch2.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch4.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch5.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch6.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch7.json
  protocol/scripts/deploys/mainnet/team-payments/json/epoch8.json
Labels: dapp

#644 Fix core notifications
  apps/dapp/src/components/Notification/Notification.tsx
  apps/dapp/src/components/Notification/NotificationManager.tsx
  apps/dapp/src/providers/NotificationProvider.tsx
Labels: preview-deploy

#650 Deploy epoch9 team payments
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/team-payments/deploy.ts
  protocol/scripts/deploys/mainnet/team-payments/json/epoch9.json
Labels: dapp

#651 stage->main
  apps/dapp/src/components/Notification/Notification.tsx
  apps/dapp/src/components/Notification/NotificationManager.tsx
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  apps/dapp/src/providers/NotificationProvider.tsx
  apps/governance-subgraph/config/mainnet.json
  apps/governance-subgraph/package.json
  apps/governance-subgraph/src/utils/constants.ts
  protocol/contracts/amo/AuraStaking.sol
  protocol/contracts/amo/Ramos.sol
  protocol/contracts/amo/helpers/AMOCommon.sol
  protocol/contracts/amo/helpers/PoolHelper.sol
  protocol/contracts/amo/interfaces/AMO__IAuraBooster.sol
  protocol/contracts/amo/interfaces/AMO__IAuraStaking.sol
  protocol/contracts/amo/interfaces/AMO__IBalancerVault.sol
  protocol/contracts/amo/interfaces/AMO__IBaseRewardPool.sol
  protocol/contracts/amo/interfaces/AMO__IPoolHelper.sol
  protocol/contracts/amo/interfaces/AMO__ITempleERC20Token.sol
  protocol/contracts/amo/test/external/IAuraStakingProxy.sol
  protocol/contracts/amo/test/external/IAuraToken.sol
  protocol/contracts/amo/test/external/IBalancerAuthorizer.sol
  protocol/contracts/amo/test/external/IBalancerAuthorizerAdapter.sol
  protocol/contracts/amo/test/external/IBalancerHelpers.sol
  protocol/contracts/amo/test/external/IBalancerVotingEscrow.sol
  protocol/contracts/amo/test/external/IGaugeAdder.sol
  protocol/contracts/amo/test/external/IGaugeController.sol
  protocol/contracts/amo/test/external/ILiquidityGaugeFactory.sol
  protocol/contracts/amo/test/external/IPoolManagerProxy.sol
  protocol/contracts/amo/test/external/IPoolManagerV3.sol
  protocol/contracts/amo/test/external/IStashRewards.sol
  protocol/contracts/amo/test/external/IWeightPool2Tokens.sol
  protocol/contracts/amo/test/external/goerli/Goerli_ILiquidityGaugeFactory.sol
  protocol/contracts/amo/test/goerli/RamosGoerli.sol
  protocol/hardhat.config.ts
  protocol/scripts/deploys/goerli/ramos/01-ramos-amo.ts
  protocol/scripts/deploys/goerli/ramos/02-ramos-pool-helper.ts
  protocol/scripts/deploys/goerli/ramos/99-ramos-post-deploy.ts
  protocol/scripts/deploys/governance/contract-addresses.ts
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/ramos/01-ramos-aura-staking.ts
  protocol/scripts/deploys/mainnet/ramos/02-ramos-amo.ts
  protocol/scripts/deploys/mainnet/ramos/03-ramos-pool-helper.ts
  protocol/scripts/deploys/mainnet/ramos/99-ramos-post-deploy.ts
  protocol/scripts/deploys/mainnet/team-payments/deploy.ts
  protocol/scripts/deploys/mainnet/team-payments/json/epoch9.json
  protocol/slither.db.json
  protocol/test/amo/amo-constants.ts
  protocol/test/amo/common.ts
  protocol/test/amo/pool-helper.ts
  protocol/test/amo/ramos.ts
  protocol/test/helpers.ts
  protocol/test/temple-zaps.ts
Labels: dapp
