Repository TempleDAO/temple, pull requests merged in 2022-08, with the labels that each got.

#482 Ascend follow ups
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/use-pool-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/utils.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/hooks/ascend/index.ts
  apps/dapp/src/utils/balancer.ts
Labels: dapp

#484 handle past ascent/empty liquidity
  apps/dapp/src/components/Layouts/Ascend/index.tsx
  apps/dapp/src/components/Pages/Ascend/index.tsx
  apps/dapp/src/components/Pages/AscendList/index.tsx
Labels: dapp

#486 Posthog integration
  apps/dapp/package.json
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/hooks/core/use-deposit-to-vault.tsx
  apps/dapp/src/main.tsx
  apps/dapp/src/services/AnalyticsService.ts
  yarn.lock
Labels: dapp, preview-deploy

#490 Support increasing liquidity in LBP
  apps/dapp/src/components/Layouts/Ascend/types.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/types.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/utils.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-contract.ts
Labels: dapp

#492 fix project price ascend
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
Labels: dapp

#494 More ascend cleanup
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/hooks/ascend/index.ts
  apps/dapp/src/utils/DecimalBigNumber.ts
  apps/dapp/src/utils/balancer.ts
Labels: dapp

#451 Add hourly snapshots for VaultGroups to subgraph
  apps/core-subgraph/schema.graphql
  apps/core-subgraph/src/entities/deposit.ts
  apps/core-subgraph/src/entities/opsManager.ts
  apps/core-subgraph/src/entities/user.ts
  apps/core-subgraph/src/entities/vault.ts
  apps/core-subgraph/src/entities/vaultGroup.ts
  apps/core-subgraph/src/entities/vaultUserBalance.ts
  apps/core-subgraph/src/entities/withdraw.ts
  apps/dapp/src/hooks/use-refreshable-treasury-metrics.tsx
Labels: dapp

#491 Improve captureEvent
  apps/dapp/src/components/Pages/Core/VaultPages/Stake.tsx
  apps/dapp/src/hooks/core/types.ts
  apps/dapp/src/hooks/core/use-deposit-to-vault.tsx
  apps/dapp/src/main.tsx
Labels: dapp

#496 ascend bug fixes
  apps/dapp/src/assets/icons/arrow-icon-no-background.svg
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/PoolComposition/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/SwapHistory/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/styles.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/utils.ts
  apps/dapp/src/components/Pages/Ascend/index.tsx
  apps/dapp/src/components/Pages/Ascend/styles.tsx
  apps/dapp/src/hooks/ascend/index.ts
  apps/dapp/src/styles/mixins.ts
  apps/dapp/src/utils/balancer.ts
Labels: dapp

#498 make ascend visible in disconnected state
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/PoolComposition/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Ascend/index.tsx
Labels: dapp

#505 feat: Add remaining custom analytics events
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Claim.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Stake.tsx
  apps/dapp/src/constants/events.ts
Labels: dapp

#507 Merge stage -> main
  apps/core-subgraph/schema.graphql
  apps/core-subgraph/src/entities/deposit.ts
  apps/core-subgraph/src/entities/vault.ts
  apps/core-subgraph/src/entities/withdraw.ts
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Claim.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Stake.tsx
  apps/dapp/src/constants/events.ts
Labels: dapp

#497 Change INITIAL_STATE of isFraxSellDisabled from true to false
  apps/dapp/src/components/Pages/Core/Trade/constants.ts
Labels: preview-deploy

#485 fix: deprecate ogt staking UI and routes
  apps/dapp/src/components/Pages/Core/Trade/index.tsx
  apps/dapp/src/components/Pages/Core/Trade/views/Stake.tsx
Labels: dapp

#449 GH Action execution time improvements
  .github/workflows/dapp-tests.yaml
  apps/dapp/index.html
Labels: dapp, preview-deploy

#508 Merge Stage to Main
  .github/workflows/dapp-tests.yaml
  apps/dapp/index.html
  apps/dapp/src/components/Pages/Core/Trade/constants.ts
  apps/dapp/src/components/Pages/Core/Trade/index.tsx
  apps/dapp/src/components/Pages/Core/Trade/views/Stake.tsx
Labels: dapp

#511 Move LBPFactory contract to an env var
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/use-pool-factory.ts
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
Labels: dapp

#512 Try to fix trade events
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#513 stage->main to try to fix trade events
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#514 Fix trade analytics events
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp, preview-deploy

#515 stage->main to fix analytics
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp

#516 Try to fix trade events again
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp

#517 merge stage to main to fix analytics again
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp

#518 Format big numbers
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp

#520 Format big numbers in trade events
  apps/dapp/src/providers/SwapProvider.tsx
Labels: dapp

#522 Remove FEI options from Trade
  apps/dapp/src/components/Pages/Core/Trade/constants.ts
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp, preview-deploy

#524 Merge State > Main
  apps/dapp/src/components/Pages/Core/Trade/constants.ts
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#526 fix quote
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#525 Fix quote, merge to main
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#527 fix types
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#528 Stage to Main
  apps/dapp/src/components/Pages/Core/Trade/use-swap-controller.tsx
Labels: dapp

#529 Ascend projection
  apps/dapp/src/components/Pages/Ascend/components/Chart/hooks.ts
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
Labels: dapp

#530 Raise y-axis lower bound on ascend chart
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
Labels: dapp

#535 Remove exit queue calls from unstaking
  apps/dapp/src/providers/StakingProvider.tsx
Labels: dapp
