Repository TempleDAO/temple, pull requests merged in 2022-09, with the labels that each got.

#539 Update LBP Factories to use NoProtocolFee variant.
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
Labels: dapp

#540 Ascend followups
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/hooks/ascend/index.ts
Labels: dapp

#452 Ascend feature branch
  apps/dapp/package.json
  apps/dapp/src/assets/icons/arrow-icon-no-background.svg
  apps/dapp/src/components/AMM/helpers/ClaimOGTemple.tsx
  apps/dapp/src/components/Layouts/Ascend/index.tsx
  apps/dapp/src/components/Layouts/Ascend/types.ts
  apps/dapp/src/components/Layouts/Ascend/utils.ts
  apps/dapp/src/components/Layouts/CoreLayout/Account.tsx
  apps/dapp/src/components/Layouts/CoreLayout/ConnectorPopover.tsx
  apps/dapp/src/components/Layouts/CoreLayout/Header.tsx
  apps/dapp/src/components/Layouts/CoreLayout/WrongNetworkPopover.tsx
  apps/dapp/src/components/Loader/CircularLoader.tsx
  apps/dapp/src/components/Notification/Notification.tsx
  apps/dapp/src/components/Pages/Ascend/PoolList.tsx
  apps/dapp/src/components/Pages/Ascend/admin/create.tsx
  apps/dapp/src/components/Pages/Ascend/admin/edit.tsx
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Chart/hooks.ts
  apps/dapp/src/components/Pages/Ascend/components/Chart/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/components/AdminCryptoInput.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/types.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/use-pool-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/use-pool-factory.ts
  apps/dapp/src/components/Pages/Ascend/components/LBPForm/utils.ts
  apps/dapp/src/components/Pages/Ascend/components/PoolComposition/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/SwapHistory/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/styles.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/utils.ts
  apps/dapp/src/components/Pages/Ascend/index.tsx
  apps/dapp/src/components/Pages/Ascend/styles.tsx
  apps/dapp/src/components/Pages/Ascend/utils.ts
  apps/dapp/src/components/Pages/AscendList/index.tsx
  apps/dapp/src/components/Pages/Core/Trade/views/Trade.tsx
  apps/dapp/src/components/PillMenu/index.tsx
  apps/dapp/src/components/WagmiProvider/index.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/data/abis/balancerPool.json
  apps/dapp/src/data/abis/balancerVault.json
  apps/dapp/src/data/abis/liquidityBootstrappingPool.json
  apps/dapp/src/hooks/ascend/index.ts
  apps/dapp/src/hooks/core/types.ts
  apps/dapp/src/hooks/core/use-token-contract-allowance.tsx
  apps/dapp/src/hooks/use-request-state.tsx
  apps/dapp/src/hooks/use-watch-asset.tsx
  apps/dapp/src/main.tsx
  apps/dapp/src/providers/WalletProvider.tsx
  apps/dapp/src/styles/mixins.ts
  apps/dapp/src/utils/DecimalBigNumber.ts
  apps/dapp/src/utils/balancer.ts
  apps/dapp/src/utils/formatter.ts
  apps/scripts/.env.vercel.production
  apps/scripts/setenv.js
  protocol/scripts/local-dapp-dev/deploy.ts
Labels: dapp, preview-deploy

#541 update copy
  apps/dapp/src/components/Pages/Ascend/index.tsx
Labels: dapp, preview-deploy

#543 use callStatic to get actual price estimate
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/hooks/ascend/index.ts
  apps/dapp/src/utils/formatter.ts
Labels: dapp, preview-deploy

#544 change title
  apps/dapp/src/components/Pages/Ascend/index.tsx
Labels: dapp

#545 update intervals
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/hooks/ascend/index.ts
Labels: dapp

#547 Fix ascend event
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Claim.tsx
Labels: dapp

#548 Stop using "watch"
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/hooks/ascend/index.ts
Labels: dapp

#549 Stage > Main : Update ascend intervals
  apps/dapp/src/components/Pages/Ascend/components/AuctionContext/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/ChartInfoBar/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Claim.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/hooks/ascend/index.ts
Labels: dapp

#550 use transaction instead of wallet address
  apps/dapp/src/components/Notification/Notification.tsx
  apps/dapp/src/components/Pages/Ascend/components/SwapHistory/index.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
Labels: dapp

#551 merge stage > main
  apps/dapp/src/components/Notification/Notification.tsx
  apps/dapp/src/components/Pages/Ascend/components/SwapHistory/index.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
Labels: dapp

#555 Fix mobile ascend
  apps/dapp/src/components/Pages/Ascend/components/PoolComposition/index.tsx
  apps/dapp/src/utils/formatter.ts
Labels: dapp

#557 use forked subgraph
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
Labels: dapp

#561 Add support for epoch 5 payments
  apps/dapp/src/components/Pages/TeamPayments.tsx
  apps/dapp/src/constants/env/local.tsx
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  apps/dapp/src/constants/env/types.ts
  apps/dapp/src/enums/team-payment.ts
  protocol/scripts/local-dapp-dev/deploy.ts
Labels: dapp, preview-deploy

#564 Remove old analytics api
  .github/labeler.yml
  .github/workflows/api-prod.yaml
  .github/workflows/api-stage.yaml
  .vercelignore
  apps/api-local-db/.gitignore
  apps/api-local-db/README.md
  apps/api-local-db/docker-compose.yaml
  apps/api-local-db/setup/initial-data/discord_channels.csv
  apps/api-local-db/setup/initial-data/discord_user_messages.csv
  apps/api-local-db/setup/initial-data/discord_user_roles.csv
  apps/api-local-db/setup/initial-data/discord_users.csv
  apps/api-local-db/setup/insert_test_data.sql
  apps/api-local-db/setup/schema.sql
  apps/api-local-db/setupdb.sh
  apps/api-local-db/startdb.sh
  apps/api-local-db/stopdb.sh
  apps/api/.env-dev
  apps/api/.env.template
  apps/api/.eslintrc.json
  apps/api/.gitignore
  apps/api/.prettierrc
  apps/api/README.md
  apps/api/config.ts
  apps/api/next-env.d.ts
  apps/api/next.config.js
  apps/api/package.json
  apps/api/pages/api/discord/members/[userId].ts
  apps/api/pages/api/discord/members/enclave/[enclave].ts
  apps/api/pages/api/discord/members/growth.ts
  apps/api/pages/api/discord/members/role/[role].ts
  apps/api/pages/api/discord/members/summary.ts
  apps/api/pages/api/temple/totalsupply.ts
  apps/api/pages/api/twitter/summary.ts
  apps/api/pages/index.tsx
  apps/api/repository/discord.ts
  apps/api/repository/store.ts
  apps/api/services/templeStatsService.spec.ts
  apps/api/services/templeStatsService.ts
  apps/api/tsconfig.json
  apps/api/vercel.json
  apps/api/yarn.lock
  package.json
  readme.md
Labels: preview-deploy

#558 Move vault context higher in component tree
  apps/dapp/src/components/Pages/Core/Profile/Profile.tsx
  apps/dapp/src/components/Pages/Core/Profile/components/ProfileVaults.tsx
  apps/dapp/src/components/Pages/Core/Vault.tsx
  apps/dapp/src/components/Pages/Core/VaultContext/index.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Claim.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Stake.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Strategy.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Summary.tsx
  apps/dapp/src/components/Pages/Core/VaultPages/Timing.tsx
  apps/dapp/src/components/Vault/VaultDesktop.tsx
  apps/dapp/src/components/Vault/VaultMobile.tsx
  apps/dapp/src/components/Vault/desktop-parts/timeline/Timeline.tsx
  apps/dapp/src/components/Vault/desktop-parts/timeline/TimelineTicks.tsx
  apps/dapp/src/components/Vault/mobile-parts/Timeline.tsx
  apps/dapp/src/hooks/core/subgraph.tsx
  apps/dapp/src/hooks/core/use-deposit-to-vault.tsx
  apps/dapp/src/hooks/core/use-vault-balance.tsx
  apps/dapp/src/providers/AppProvider.tsx
Labels: dapp, preview-deploy

#567 Ascend from vault context
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-ascend-zap-contract.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/hooks/use-vault-trade-state.ts
  apps/dapp/src/components/Pages/Ascend/components/Trade/index.tsx
  apps/dapp/src/components/Pages/Ascend/components/Trade/styles.ts
  apps/dapp/src/components/Vault/utils.ts
  apps/dapp/src/constants/env/preview.tsx
Labels: dapp

#571 Deploy epoch 5 team payments
  apps/dapp/src/constants/env/production.tsx
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/23-epoch5-payments.ts
Labels: dapp

#572 Redeploy epoch 5
  apps/dapp/src/constants/env/production.tsx
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/23-epoch5-payments.ts
Labels: dapp

#573 stage->prod
  apps/core-subgraph/config/goerli.json
  apps/core-subgraph/package.json
  apps/dapp/src/constants/env/preview.tsx
  apps/dapp/src/constants/env/production.tsx
  protocol/README.md
  protocol/hardhat.config.ts
  protocol/package.json
  protocol/scripts/deploys/goerli/02-temple-token.ts
  protocol/scripts/deploys/goerli/02a-stable-tokens.ts
  protocol/scripts/deploys/goerli/03-exit-queue.ts
  protocol/scripts/deploys/goerli/04-staking.ts
  protocol/scripts/deploys/goerli/05-legacy-locked-og-temple.ts
  protocol/scripts/deploys/goerli/06-treasury.ts
  protocol/scripts/deploys/goerli/13-deploy-amm.ts
  protocol/scripts/deploys/goerli/16-deploy-faith-and-devotion.ts
  protocol/scripts/deploys/goerli/20-deploy-ops-manager.ts
  protocol/scripts/deploys/goerli/21-deploy-30min-vaults.ts
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-a.js
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-b.js
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-c.js
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-d.js
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-e.js
  protocol/scripts/deploys/goerli/30-min-vault-verify/tst-30min-f.js
  protocol/scripts/deploys/goerli/core-deploy/readme.md
  protocol/scripts/deploys/goerli/temple-ascend/ascend.json
  protocol/scripts/deploys/goerli/temple-ascend/create-ascend.py
  protocol/scripts/deploys/goerli/temple-ascend/gen-wallets.ts
  protocol/scripts/deploys/goerli/temple-ascend/get-approved-stablec.ts
  protocol/scripts/deploys/goerli/temple-ascend/init-pool.py
  protocol/scripts/deploys/goerli/temple-ascend/join-pool.json
  protocol/scripts/deploys/goerli/temple-ascend/joinPool.py
  protocol/scripts/deploys/goerli/temple-ascend/querySwap.json
  protocol/scripts/deploys/goerli/temple-ascend/querySwap.py
  protocol/scripts/deploys/goerli/temple-ascend/single-swap.py
  protocol/scripts/deploys/goerli/temple-ascend/swap-temple-dai.json
  protocol/scripts/deploys/goerli/temple-ascend/verify-pool.py
  protocol/scripts/deploys/helpers.ts
  protocol/scripts/deploys/mainnet/23-epoch5-payments.ts
Labels: dapp, preview-deploy
